black==25.1.0
bottle==0.13.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
idna==3.10
jeepney==0.9.0
loguru==0.6.0
mypy-extensions==1.0.0
notify_py==0.3.43
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
proxy_tools==0.1.0
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6-WebEngine==6.8.0
PyQt6-WebEngine-Qt6==6.8.2
PyQt6_sip==13.10.0
pywebview==5.4
QtPy==2.4.3
requests==2.32.3
typing_extensions==4.13.0
urllib3==2.3.0
